{% extends 'layout.html.twig' %}

{% block title %}RaspiPlant | Devices{% endblock %}

{% block page_title %}
    RaspiPlant Devices
    <small>your board devices </small>
{% endblock %}

{% block page_breadcrumb %}                                
    <li>
        <a href="{{path('board.dashboard.main')}}">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{path('board.device.main')}}">Device</a>
        <i class="fa fa-circle"></i>
    </li>
{% endblock %}

{% block page_content %}
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}

    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <!-- BEGIN DASHBOARD STATS 1-->
    <div class="row">
        <div class="table-responsive">
            <table class="table table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>#</th> <th>Name</th> <th>Slug</th> <th>Class</th> <th>address</th> 
                    </tr>
                </thead>
                <tbody>
                    {% for device in devices %}
                    <tr>
                        <td>{{ device.id }}</td><td>{{ device.name }}</td><td>{{ device.slug }}</td><td>{{ device.class }}</td><td>{{ device.address }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}
