{%- block form_row -%}
    {% if col is defined %}
        <div class="{{ 'col-'~ col|join(' col-') }}">
    {% endif %}

    <div class="form-group{% if errors|length > 0 %} has-danger{% endif %}">
        {{- form_label(form) -}}

        {% if addon is defined %}
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-{{ addon }}"></i></span>
        {% endif %}

        {{- form_widget(form) -}}

        {% if addon is defined %}
        </div>
        {% endif %}

        {{- form_errors(form) -}}
    </div>

    {% if col is defined %}
        </div>
    {% endif %}
{%- endblock form_row -%}



{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {%- set class = (type in ['checkbox', 'radio']) ? 'custom-control-input' : 'form-control' -%}
    {%- set attr = attr|merge({'class': class ~ ((attr.class is defined) ? (' ' ~ attr.class) : '')}) -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}



{%- block textarea_widget -%}
    {%- set attr = attr|merge({'class': 'form-control' ~ ((attr.class is defined) ? (' ' ~ attr.class) : '')}) -%}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget -%}



{%- block form_label -%}
    <label for="{{ id }}">{{ label }}</label>
{%- endblock form_label -%}



{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <p class="text-danger">{{ error.message }}</p>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}



{%- block choice_widget_expanded -%}
    <div id="{{ form.vars.id }}" class="custom-controls-stacked">
    {%- for child in form %}
        {{- form_widget(child) -}}
    {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}



{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }} class="form-control"{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}



{%- block radio_widget -%}
    {%- set attr = attr|merge({'class': 'custom-control-input' ~ ((attr.class is defined) ? (' ' ~ attr.class) : '')}) -%}
    <label class="custom-control custom-radio" for="{{ form.vars.id }}">
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{ form.vars.label }}</span>
    </label>
{%- endblock radio_widget -%}



{%- block checkbox_widget -%}
    {%- set attr = attr|merge({'class': 'custom-control-input' ~ ((attr.class is defined) ? (' ' ~ attr.class) : '')}) -%}
    <label class="custom-control custom-checkbox" for="{{ form.vars.id }}">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{ form.vars.label }}</span>
    </label>
{%- endblock checkbox_widget -%}
