{% extends 'layout.html.twig' %}

{% block title %}RaspiPlant | Sensors{% endblock %}

{% block page_title %}
    RaspiPlant Sensors
    <small>board sensors </small>
{% endblock %}

{% block page_breadcrumb %}                                
    <li>
        <a href="{{path('board.dashboard.main')}}">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{path('board.sensor.main')}}">Sensor</a>
        <i class="fa fa-circle"></i>
    </li>
{% endblock %}

{% block page_content %}
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}

    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <!-- BEGIN DASHBOARD STATS 1-->
    <div class="row">
        <div class="table-responsive">
            <table class="table table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>#</th> <th>Name</th> <th>Slug</th> <th>Class</th> <th>pin</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sensor in sensors %}
                    <tr>
                        <td>{{ sensor.id }}</td><td>{{ sensor.name }}</td><td>{{ sensor.slug }}</td><td>{{ sensor.class }}</td><td>{{ sensor.pin }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}
