{% extends 'layout.html.twig' %}

{% block page_content %}
    <div class="content-main">
        <div class="table-responsive">
            <table class="table table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Slug</th>
                        <th>Class</th>
                        <th>Pin</th>
                        <th>Active</th>
                        <th>Id</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for sensor in sensors %}
                    <tr>
                        <td><a href="{{ path('sensor_show', { 'id': sensor.id }) }}">{{ sensor.name }}</a></td>
                        <td>{{ sensor.slug }}</td>
                        <td>{{ sensor.class }}</td>
                        <td>{{ sensor.pin }}</td>
                        <td>{% if sensor.active %}Yes{% else %}No{% endif %}</td>
                        <td>{{ sensor.id }}</td>
                        <td>
                            <a href="{{ path('sensor_show', { 'id': sensor.id }) }}" class="btn btn-info"><i class="fa fa-eye"></i></a>
                            <a href="{{ path('sensor_edit', { 'id': sensor.id }) }}" class="btn btn-warning"><i class="fa fa-edit"></i></a>
                            <a href="{{ path('sensor_delete', { 'id': sensor.id }) }}" class="btn btn-danger"><i class="fa fa-close"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a class="btn btn-primary" href="{{ path('sensor_new') }}">Create a new sensor</a>
    </div>
{% endblock %}
