{% extends 'layout.html.twig' %}

{% form_theme edit_form 'form/simple.form.twig' %}

{% block page_content %}
<div class="content-main">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-primary" />
    {{ form_end(edit_form) }}


            <a class="btn btn-primary" href="{{ path('actuator_index') }}">Back to the list</a>

            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger" />
            {{ form_end(delete_form) }}

</div>
{% endblock %}
