{% extends 'layout.html.twig' %}

{% block page_title %}
    RaspiPlant Actuators
    <small>board actuators </small>
{% endblock %}

{% block page_breadcrumb %}
    <li>
        <a href="{{path('board.dashboard.main')}}">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{path('actuator_index')}}">Actuator</a>
        <i class="fa fa-circle"></i>
    </li>
{% endblock %}

{% block page_content %}
<div class="content-main">
    <div class="table-responsive">
        <table class="table table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Slug</th>
                    <th>Class</th>
                    <th>Pin</th>
                    <th>State</th>
                    <th>Active</th>
                    <th>Id</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for actuator in actuators %}
                <tr>
                    <td><a href="{{ path('actuator_show', { 'id': actuator.id }) }}">{{ actuator.name }}</a></td>
                    <td>{{ actuator.slug }}</td>
                    <td>{{ actuator.class }}</td>
                    <td>{{ actuator.pin }}</td>
                    <td>{{ actuator.state }}</td>
                    <td>{% if actuator.active %}Yes{% else %}No{% endif %}</td>
                    <td>{{ actuator.id }}</td>
                    <td>
                        <a href="{{ path('actuator_show', { 'id': actuator.id }) }}" class="btn btn-info"><i class="fa fa-eye"></i></a>
                        <a href="{{ path('actuator_edit', { 'id': actuator.id }) }}" class="btn btn-warning"><i class="fa fa-edit"></i></a>
                        <a href="{{ path('actuator_delete', { 'id': actuator.id }) }}" class="btn btn-danger"><i class="fa fa-close"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary" href="{{ path('actuator_new') }}">Create a new actuator</a>
</div>


{% endblock %}
