{% extends 'layout.html.twig' %}

{% block page_title %}
    RaspiPlant Analytics
    <small>board analytics </small>
{% endblock %}

{% block page_breadcrumb %}
    <li>
        <a href="{{path('board.dashboard.main')}}">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{path('analytics_index')}}">Actuator</a>
        <i class="fa fa-circle"></i>
    </li>
{% endblock %}

{% block page_content %}
<div class="content-main">
    <div class="table-responsive">
        <table class="table table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Eventkey</th>
                    <th>Eventvalue</th>
                    <th>Eventdate</th>
                    <th>Id</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for analytic in analytics %}
                <tr>
                    <td><a href="{{ path('analytics_show', { 'id': analytic.id }) }}">{{ analytic.eventKey }}</a></td>
                    <td>{{ analytic.eventValue }}</td>
                    <td>{% if analytic.eventDate %}{{ analytic.eventDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ analytic.id }}</td>
                    <td>
                        <a href="{{ path('analytics_show', { 'id': analytic.id }) }}" class="btn btn-info"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

    
{% endblock %}
