{% extends 'layout.html.twig' %}

{% block page_title %}
    RaspiPlant Board
    <small>{{ board.name }} </small>
{% endblock %}

{% block page_breadcrumb %}
    <li>
        <a href="{{path('board.dashboard.main')}}">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{path('board_index')}}">Boards</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        {{ board.name }}
        <i class="fa fa-circle"></i>
    </li>
{% endblock %}

{% block page_content %}
<div class="content-main">
    <div class="table-responsive">
        <table class="table table table-condensed table-hover">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ board.name }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ board.slug }}</td>
                </tr>
                <tr>
                    <th>Active</th>
                    <td>{% if board.active %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <th>Id</th>
                    <td>{{ board.id }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary" href="{{ path('board_index') }}">Back to the list</a>
    <a class="btn btn-warning" href="{{ path('board_edit', { 'id': board.id }) }}">Edit</a>
    <div style="float:right;">
        {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger" />
        {{ form_end(delete_form) }}
    </div>
</div>

{% endblock %}
