{% trans_default_domain easyadmin_config('translation_domain') %}
{% extends easyadmin_config('design.templates.layout') %}

{% block body_class 'page-login' %}

{% block wrapper_wrapper %}
    {% set _username_label = username_label is defined ? username_label|trans : 'login.username'|trans({}, 'EasyAdminBundle') %}
    {% set _password_label = password_label is defined ? password_label|trans : 'login.password'|trans({}, 'EasyAdminBundle') %}
    {% set _sign_in_label = sign_in_label is defined ? sign_in_label|trans : 'login.sign_in'|trans({}, 'EasyAdminBundle') %}

    <div class="login-wrapper">
        <header class="main-header mb-4">
            <div id="header-logo">
                {% block header_logo %}
                    <a class="logo {{ easyadmin_config('site_name')|length > 14 ? 'logo-long' }}" title="{{ easyadmin_config('site_name')|striptags }}" href="{{ path('easyadmin') }}">
                        {{ easyadmin_config('site_name')|raw }}
                    </a>
                {% endblock header_logo %}
            </div>
        </header>

        {% if error|default(false) %}
            <div class="w-100 alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        {% block content %}
                {{ include('@UserBundle/Resources/views/Security/login_content.html.twig') }}
        {% endblock %}
    </div>
{% endblock %}
